@font-face {
    font-family: slenderman;
    src: url(img/Slenderman.ttf);
  }

@media only screen and (max-width: 850px) {
    html,
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        font-family: slenderman;
    }
    /* this is an error message for using pc */
    .error {
        display: none;
    }
    /* =============================== */
    /* ============ lobby ============ */
    /* =============================== */
    .lobby {
        background-color: #222;
        background-image: url(img/bg2.jpg);
        background-position: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        height: 90vh;
        margin: 5vh 5vw;
        padding: 0;
        color: antiquewhite;
    }
    /* ============ title ============ */
    .lobby_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 80vw;
    }
    .lobby_title h1 {
        font-size: 4vh;
        max-width: 80%;
        width: max-content;
        text-align: center;
    }
    /* ============ form ============= */
    .join_form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        width: 80vw;
    }
    .lobby_input {
        height: 3vh;
        padding: 1vh;
        border: #111;
        border-radius: 0;
        background-color: #555555aa;
        color: antiquewhite;
    }
    .join_button {
        margin: 1vh 0;
        height: 5vh;
        padding: 1vh;
        border: #111;
        border-radius: 2.5vh;
        background-color: #555555aa;
        color: antiquewhite;
    }
    /* =============================== */
    /* ========= game screen ========= */
    /* =============================== */
    /* need to do:
        - make side thing with names
        - add js for prev stuff(side tab)
        - 

    */
}

@media only screen and (min-width: 851px) {
    html,
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .container {
        display: none;
    }
    .error {
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
}